<?xml version="1.0" encoding="utf-8"?>
<!--
Yaaic - Yet Another Android IRC Client

Copyright 2009-2013 Sebastian Kaspari

This file is part of Yaaic.

Yaaic is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Yaaic is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Yaaic.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yaaic"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/icon"
        android:label="Yaaic"
        android:theme="@style/Theme.Yaaic"
        android:allowBackup="true">
        <activity
            android:name=".activity.ServersActivity"
            android:label="@string/app_name"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddServerActivity"
            android:label="@string/add_server_label" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="irc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConversationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_label"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_label" >
        </activity>
        <activity
            android:name=".activity.JoinActivity"
            android:label="@string/join_label"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.UsersActivity"
            android:label="@string/users"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.AddAliasActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.AddChannelActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.AddCommandsActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.AuthenticationActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service android:name=".irc.IRCService" >
        </service>
    </application>

</manifest>